/* Write your CSS here */
.menucard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
}
.Hambutton {
  border: none;
  background-color: transparent;
}
.liItem {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 10px;
}
.popUp {
  background-color: #ffffff;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.closeButton {
  border: none;
  background-color: transparent;
  margin-left: 320px;
}
